{{ define "main" }}
{{ if .Content }}
{{ .Content }}
{{ end }}
{{ if not .Params.HideList }}
    {{ range .Paginator.Pages }}
    {{ partial "blog/post-item.html" . }}
    {{ end }}

    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
    <nav class="pagination">
      {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}">&laquo; previous</a>
      {{ end }}
      <span class="current">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
      {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}">next &raquo;</a>
      {{ end }}
    </nav>
    {{ end }}
{{ end }}
{{ end }}