<footer class="site-footer" id="site-footer">
  <div class="footer-bottom footer--row layout-contained" id="cb-row--footer-bottom" data-row-id="bottom" data-show-on="desktop">
    <div class="footer--row-inner footer-bottom-inner dark-mode">
      <div class="customify-container">
        <div class="customify-grid customify-grid-top">
          <div class="customify-col-12_md-12_sm-12_xs-12 builder-item builder-first--footer_copyright" data-push-left="_sm-0">
            <div class="item--inner builder-item--footer_copyright" data-section="footer_copyright" data-item-id="footer_copyright">
              <div class="builder-footer-copyright-item footer-copyright">
                <p>Copyright &copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>