<header class="site-header">
    <nav role="navigation">
      <a class="brand" id="logo" title="Cloud computing for science"
        href="{{ "/" | relURL }}"><span>Science<br>Clouds</span>
        <img id="logo-img"
          src="{{ "resources/sciencecloudslogo-beaker.png" | relURL }}">
      </a>
      <ul class="nav">
        <li class="page_item page-item-115"><a href="{{ "/" | relURL }}">Home</a></li>
        <li class="page_item page-item-1408 page_item_has_children"><a
            href="{{ "cloud-traces/" | relURL }}">Cloud traces</a></li>
        <li class="page_item page-item-175 current_page_item"><a
            href="{{ "posts/" | relURL }}" aria-current="page">Blog</a></li>
        <li class="page_item page-item-1320"><a href="{{ "contact/" | relURL }}">Contact</a>
        </li>
      </ul>
      <div id="social-links-nav">
        <a href="{{ "posts/index.xml" | relURL }}" title="RSS feed">
          <img
              src="{{ "resources/beakerss.png" | relURL }}">
        </a>
      </div>

    </nav>
</header>